{% extends 'base.html.twig' %}

{% block title %}RoomBooker - Outil de réservation de salles{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-xs-12 col-lg-8">
        <div class="card">
            <div class="card-header card-outline-primary">Réserver une salle</div>
            <div class="card-body">
                {{ render(controller(
                    'App\\Controller\\BookingController::booking'
                )) }}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 col-lg-4">
        <div class="card">
            <div class="card-header card-outline-primary">Historique</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Meeting 14:30 <span class="text-muted fs-6"> - Aujourd'hui. Salle Amérique</span></li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
